[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
fastapi-jwt-auth = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.8"
